on:
  workflow_dispatch: 
jobs: 
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.0.x'
      - run: cd StateleSSE.ExampleApp/server/tests && dotnet test